@model SINCRODEWebApp.Models.LoginModel

@{
    Layout = "_LayoutLogin";
}

        <div class="container-login1001">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form" asp-action="DoLogin" asp-controller="Login">
                    <span class="login100-form-title p-b-55">
                        <img src="~/logo_sacyr.jpg" alt="SACYR" style="height:50px; width: 150px" />
                    </span>

                    @{
                        if (!string.IsNullOrEmpty(ViewData["Message"]?.ToString()) && ViewData["Message"]?.ToString() != "OK")
                        {
                            <div class="alert alert-danger" role="alert" style="width:100%;">
                                <span><i class="lnr lnr-warning" style="color:red;"></i>&nbsp;Usuario o contraseña incorrectos</span>
                            </div>
                        }
                    }

                    <div class="wrap-input100 validate-input m-b-16">
                        <input asp-for="Username" class="input100" placeholder="Usuario" />
                        <span class="symbol-input100">
                            <span class="lnr lnr-users"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        <input asp-for="Password" type="password" class="input100" placeholder="Contraseña" />
                        <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login1001-form-btn" id="startSession">
                            Iniciar sesión
                        </button>
                    </div>

                    @{
                        if (ViewBag.AllowAnonimous == true)
                        {
                            <div>
                                <button onclick="parent.location='@Url.Action("DoLoginAnomino", "Login")';return false;" type="button" class="btn btn-link">Anónimo</button>
                            </div>
                        }
                    }
                </form>
            </div>
        </div>