@model IEnumerable<SINCRODEWebApp.Models.ProcessModel>

@{
    ViewData["Title"] = "Procesos";
}

@section styles {

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Procesos de marcaje</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Procesos de absentismos</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <hr style="color:#00AFD2; background-color:#00AFD2;" />
        <table class="table table-striped table-bordered" width="100%" id="ItemsTable">
            <thead>
                <tr>
                    <th>Id Proceso</th>
                    <th>
                        Inicio
                    </th>
                    <th>
                        Fin
                    </th>
                    <th>
                        Cantidad de Registros
                    </th>
                    <th>
                        Cantidad de Empleados
                    </th>
                    <th>
                        Cantidad de errores
                    </th>
                    <th>
                        Proceso automático
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


        <hr style="color:#00AFD2; background-color:#00AFD2;" />
        <table class="table table-striped table-bordered" width="100%" id="ItemsAbsTable">
            <thead>
                <tr>
                    <th>Id Proceso</th>
                    <th>
                        Inicio
                    </th>
                    <th>
                        Fin
                    </th>
                    <th>
                        Cantidad de Registros
                    </th>
                    <th>
                        Cantidad de Empleados
                    </th>
                    <th>
                        Cantidad de errores
                    </th>
                    <th>
                        Proceso automático
                    </th>
                    <th>
                        Absentismo
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        (function ($) {
            var generateCustomerTable = $("#ItemsTable")
                .dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/apiProcess",
                        "method": "POST"
                    },
                    "columns": [
                        { "data": "idProcess" },
                        { "data": "fechaInicio" },
                        { "data": "fechaFin" },
                        { "data": "registros" },
                        { "data": "empleados" },
                        { "data": "errores" },
                        {
                            "render": function (data, type, full, meta) {
                                if (full.auto == true) {
                                    return '<input type="checkbox" checked disabled>';
                                }

                                return '<input type="checkbox" disabled>';
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn-info" href="/process/showLogs/' + full.idProcess + '">Logs</a>';
                            }
                        }
                    ],
                    "language": {
                        "lengthMenu": "Cantidad de registros _MENU_ por página",
                        "zeroRecords": "No existen procesos",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No existen resultados disponibles",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "search": "Buscar:",
                        "processing": "Obteniendo listado de procesos",
                        "searchPlaceholder": "Buscar procesos",
                        "paginate": {
                            "first": "Inicio",
                            "last": "Ultimo",
                            "next": "Próximo",
                            "previous": "Anterior"
                        }
                    },
                    "ordering": true,
                    "paging": true,
                    "pagingType": "full_numbers",
                    "pageLength": 10
                });

            var generateAbsTable = $("#ItemsAbsTable")
                .dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/apiAbsentismos",
                        "method": "POST"
                    },
                    "columns": [
                        { "data": "idProcess" },
                        { "data": "fechaInicio" },
                        { "data": "fechaFin" },
                        { "data": "registros" },
                        { "data": "empleados" },
                        { "data": "errores" },
                        {
                            "render": function (data, type, full, meta) {
                                if (full.auto == true) {
                                    return '<input type="checkbox" checked disabled>';
                                }

                                return '<input type="checkbox" disabled>';
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                if (full.absentismo == true) {
                                    return '<input type="checkbox" checked disabled>';
                                }

                                return '<input type="checkbox" disabled>';
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn-info" href="/process/showLogs/' + full.idProcess + '">Logs</a>';
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn-danger" href="/process/showLogs/' + full.idProcess + '">Proceso</a>';
                            }
                        }
                    ],
                    "language": {
                        "lengthMenu": "Cantidad de registros _MENU_ por página",
                        "zeroRecords": "No existen procesos",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No existen resultados disponibles",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "search": "Buscar:",
                        "processing": "Obteniendo listado de procesos",
                        "searchPlaceholder": "Buscar procesos",
                        "paginate": {
                            "first": "Inicio",
                            "last": "Ultimo",
                            "next": "Próximo",
                            "previous": "Anterior"
                        }
                    },
                    "ordering": true,
                    "paging": true,
                    "pagingType": "full_numbers",
                    "pageLength": 10
                });
        })(jQuery);
    </script>
}
