<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!--
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
        -->
    <!--<environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        </environment>-->
        <link rel="stylesheet" href="~/css/site.css" />
        @RenderSection("styles", required: false)

        <style>
            .btnTransparent {
                background-color: transparent !important;
                border: none !important;
                cursor: pointer !important;
                overflow: hidden !important;
                outline: none !important;
            }
        </style>

    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/logo_sacyr.jpg" alt="SACYR" style="height:40px; width: 100px" />
                <a class="navbar-brand" asp-area="" asp-controller="process" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>



    <div id="myModal" class="modal fade" role="dialog">
        <partial name="_Executor" />
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <script src="~/lib/font-awesome/js/all.js"></script>
    <!-- <environment include="Development">
         <script src="~/lib/jquery/dist/jquery.js"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
         <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
     </environment>-->
    <!--<environment exclude="Development">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
                asp-fallback-src="~/lib/font-awesome/js/all.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
              asp-fallback-href="~/lib/font-awesome/css/all.css" />
    </environment>-->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/spin.js/spin.min.js"></script>
    <link rel="stylesheet" href="~/lib/spin.js/css/spin.css" />

    <!--Spining loading for executor-->
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <span>Ejecutando proceso de marcaje...</span>
            </p>
        </div>
    </div>

    <!--Executor script validator-->
    <script src="~/js/executor/executor.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
