@using System.Security.Principal

    <ul class="navbar-nav">
        @if (ViewData["ProccessId"] != null)
        {
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Process" asp-action="Index">
                <i class="fas fa-arrow-alt-circle-left text-primary"></i>
                Regresar <span class="sr-only">(current)</span>
            </a>
        </li>
        }

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal" title="Ejecutar proceso">
                    <i class="fas fa-cogs"></i>
                    Ejecutar proceso
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Login" asp-action="SignOut">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    Cerrar sesi&oacute;n
                </a>
            </div>
        </li>
        <li class="nav-item active">
            <a class="nav-link">
                <i class="fas fa-user text-primary"></i>
            </a>
        </li>
    </ul>